<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wingman Weekend Dashboard</title>
</head>
<body>
  <a href="/matches"><button>Create Match</button></a>
  <a href="/teams"><button>Teams</button></a>
  <h1>SERVERS</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <h3 style="color:lightgreen">{{ message }}</h3>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% for server in servers %}
    <h2>Server {{ server }}</h2>
    <a href="/start/{{ server }}"><button>Start</button></a>
    <a href="/stop/{{ server }}"><button>Stop</button></a>
    <a href="/restart/{{ server }}"><button>Restart</button></a>
    <form action="/load/{{ server }}">
      <select id="match" name="match">
        <option disabled selected value>-- Select Match --</option>
        {% for match in matches %}
          <option value="{{ match }}">{{ match }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Load Match">
    </form>
  {% endfor %}

</body>
</html>
